  <div class="footer">
    <div class="footer-links">
      <a class="logo-footer" href="./index.html">dent-hesapla</a>
      <a class="insta-logo" href="https://www.instagram.com/aefebelek/"><i class="fa fa-instagram"></i></a>
      <a class="footer-link" href="./hesaplayicilar.html">hesaplayıcılar</a>
      <a class="footer-link" href="./antibiyotik.html">antibiyotikler</a>
      <a class="footer-link" href="./profilaksi.html">profilaksi</a>
      <a class="footer-link" href="./anestezi.html">lokal anestezi</a>
      <a class="footer-link" href="./florur.html">florür takviyesi</a>
      <a class="footer-link" href="./akesici.html">ağrı kesiciler</a>
    </div>
    <div class="footer-text">© 2023 dent-hesapla</div>
  </div>
