  <div class="navbar">
    <a class="logo nav-item" href="./index.html">dent-hesapla</a>
    <div class="nav-item navlinks">
      <a class="nav-item" href="./index.html">ana sayfa</a>
      <div class="dropdown">
        <button class="dropbtn"><a class="nav-item" href="./hesaplayicilar.html">hesaplayıcılar</a></button>
        <div class="dropdown-content">
          <a class="navlink" href="./hesaplayicilar.html">tüm hesaplayıcılar</a>
          <a class="navlink" href="./antibiyotik.html">antibiyotikler</a>
          <a class="navlink" href="./profilaksi.html">profilaksi</a>
          <a class="navlink" href="./anestezi.html">lokal anestezi</a>
          <a class="navlink" href="./florur.html">florür takviyesi</a>
          <a class="navlink" href="./akesici.html">ağrı kesiciler</a>
        </div>
      </div>
    </div>
    <a class="insta-logo nav-item" href="https://www.instagram.com/aefebelek/"><i class="fa fa-instagram"></i></a>
  </div>

  <div class="navbar-mobile">
    <a class="mobile-logo" href="./index.html">dent-hesapla</a>
    <input class="menu-btn" type="checkbox" id="menu-btn"/>
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li><a class="mobile-menu" href="./index.html">ana sayfa</a></li>
      <li><a class="mobile-navlink" href="./hesaplayicilar.html">tüm hesaplayıcılar</a></li>
      <li><a class="mobile-navlink" href="./antibiyotik.html">antibiyotikler</a></li>
      <li><a class="mobile-navlink" href="./profilaksi.html">profilaksi</a></li>
      <li><a class="mobile-navlink" href="./anestezi.html">lokal anestezi</a></li>
      <li><a class="mobile-navlink" href="./florur.html">florür takviyesi</a></li>
      <li><a class="mobile-navlink" href="./akesici.html">ağrı kesiciler</a></li>
      <li><a class="insta-logo mobile-navlink" href="https://www.instagram.com/aefebelek/"><i class="fa fa-instagram"></i></a></li>
    </ul>
  </div>
